<ion-header>
    <ion-toolbar>
        <ion-title>
            Liste des Appareils
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>

  <ion-content padding>
      <ion-list>
        <ion-button *ngFor="let appareil of appareilsList; let i = index" (click)="onLoadAppareil(i)"> 
            <ion-icon name="power" [color]="appareil.isOn ? 'secondary' : 'danger'"></ion-icon>
          {{ appareil.name }}
        </ion-button>
      </ion-list>
    </ion-content>


    <ion-content padding>
        <ion-list>
          <ion-button *ngFor="let appareil of appareilsList; let i = index" (click)="onLoadAppareilModal(i)">
              <ion-icon name="power" [color]="appareil.isOn ? 'secondary' : 'danger'"></ion-icon> 
            MODAL {{ appareil.name }}
            </ion-button>
        </ion-list>
      </ion-content>
  <!--
  <ion-content padding>
      <ion-button (click)="onLoadAppareil('Machine à laver')">Machine à laver</ion-button>
      <ion-button (click)="onLoadAppareil('Télévision')">Télévision</ion-button>
      <ion-button [routerLink]="['/single-appareil', {appareilName: 'WII'}]" routerLinkActive="router-link-active">WII</ion-button>
  </ion-content>  

  <ion-footer padding>
    <p>Bas de page</p>
  </ion-footer>  
-->



  