<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>  
  <ion-button (click)="onGoToDevices()">Voir les appareils</ion-button>
  <ion-button (click)="onGoToDevice()">Voir un appareil</ion-button>  
</ion-content>

<ion-content padding>
    <ion-button routerLink="/settings">
      <ion-icon name="settings"></ion-icon>      
       Paramètres
    </ion-button>  
</ion-content>

